@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1290 6th Ave.<br />
    Eugene, Oregon<br />
    <abbr title="Phone">P:</abbr>
    541.505.7403
</address>

